#clock-container{
	position:relative;
	background: url(clock.png) no-repeat;
	background-size:100%;
	margin: auto;
	height: 28vw;
    width: 29vw;
}

#hours_hand, #minutes_hand, #seconds_hand{
	position: absolute;
	background-color: black;
	border-radius:5px;
	transform-origin: bottom;
}
	
#hours_hand{
    height: 20%;
    width: 3%;
	right: 48.75%;
    top: 28.85%;
	opacity:0.8;
}

#minutes_hand{
	height: 24%;
    width: 1.65%;
	right: 50.75%;
    top: 25.55%;
	opacity:0.8;
}

#seconds_hand{
	height: 27%;
    width: 1.45%;
	right: 50.75%;
    top: 22.55%;
	opacity:0.8;
}
